

/* Centering container content using flexbox */
.container {
    display: flex;
    flex-direction: column;   /* Align items vertically */
    justify-content: center;  /* Center content vertically */
    align-items: center;      /* Center content horizontally */
    height: 30vh;             /* Sets the height of the container to fill the viewport */
}

/* Styling for the h1 element (Name) */
h1 {
    font-size: 3em;           /* Larger font size for the name */
    color: #ffffff;           /* Text color */
    margin: 0;                /* Remove default margin */
}

/* Stars background */
.stars {
    position: absolute;
    width: 100%;
    height: 500%;
    background: url('background.png') repeat; /* Add your stars image here */
    opacity: 0.2; /* Make the stars less prominent */
    background-size: cover;
    background-attachment: fixed;
}

/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #000000; /* Light background */
    color: rgb(255, 255, 255); /* Set text color to white */
}

/* Profile picture styling */
.profile-pic {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    margin: 0;
}

.profile-pic img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid #ffffff; /* Dark outer border */
}

@media (max-width: 600px) {
    .profile-pic {
        width: 80px;
        height: 80px;
        top: 10px;
        right: 10px;
    }
}
